{% extends 'base.html.twig' %}

{% block title %} C'est bien vrai ça {% endblock %}

{% block body %}
    <H1>QUI SUIS-JE?</H1>

    <H2>DIPLOMES - FORMATION</H2>
    <H3>Année 2016
        Lyon</H3>

    <p>- Formation professionnelle à la Wild Code School :
    Formation intensive sur 5 mois avec la réalisation de 3 projet web lors de la formation dont 2 professionnels. Sur les technos suivantes : html css, javascript, jquery, bootstrap, PHP / SYMFONY avec l’utilisation de base de données SQL. Avec réalisation de 2 sites professionnels : https://www.lafolleagence.com et
    </p>

    <H3>Année 2015 - Autoformation</H3>


    <p>- Talend : Travail et formation en direct sur la version 6 (forcément sur java)
    - BO : administration
    - Oracle : administration
    </p>

    <H3>Année 2000
        Saint-Etienne</H3>

    - INGENIEUR ENISE - Option Mécanique
    - DESS Système d'Information Géographique


    <H3>Année 1997
        Saint-Etienne</H3>

    - DUT GEII - option automatisme des systèmes


    <H2>LANGUES</H2>

    Anglais lu, écrit, Allemand notions


    <H2>EXPERIENCE PROFESSIONNELLE</H2>

    <H3>2013 à 2014
        CREDIT AGRICOLE ALSACE-VOSGES</H3>
    [ANALYSTE]
    Travail en interne
    Travail sur les données, adaptation des informations et travail sur la nouvelle structure des agences impactant les tableaux de bord. Préparation et adaptation pour la génération de tableau de bord personnalisé par cube.

    Windows XP pro, SQL SERVER (T-SQL), Excel, Business Object (BO), Espas ( MDX amélioré)

    <H3>2013
        ALTRAN - SSII</H3>
    [INGENIEUR CONSULTANT]
    Client : CREDIT AGRICOLE ALSACE-VOSGES
    Travail de recomposition des tableaux de bord suite à changement de SI

    Windows XP pro, SQL SERVER, Excel

    <H3>2011 à 2012
        ATILOG - SSII</H3>
    [INGENIEUR D’ETUDE]
    Travail en interne
    Logiciel de gestion de flotte (Analyse et développement)
    [CHEF DE PROJET]
    Client : STEF TFE
    Logiciel de gestion de transport frigorifique (Gestion de projet, documentation, analyse et développement)

    Pb, C#, Vba, ASP, Pl-Sql, T-Sql
    API Géolocalisation et cartographie
    SGBD : ORACLE, SQLSERVER
    PowerBuilder, Visual studio
    SQL DEVELOPER
    <H3>2009
        SCIDE - SSII</H3>
    [INGENIEUR D’ETUDE]
    Client : ERDF
    Assistance utilisateur sur le « SIG » moyenne échelle du 10000ème au 1000ème

    Small world
    citrix (administrateur de gestion des connexions)
    <H3>2006 à 2009
        TEMMA CONSULTING</H3>
    [INGENIEUR D’ETUDE]
    Client : Cheuvreux
    Logiciel de gestion de réunion, et d'information boursière
    (Analyse et développement)
    Client : OTIS
    Logiciel de gestion de parc matériel (Ascenseurs et escalator)
    (Analyse et développement)
    Client : CRAM
    Logiciel de gestion des retraites, partie droit (analyse et développement)

    Pb, Vba, T-SQL (transaq SQL)
    SGBD : SYBASE, ORACLE
    Powerbuilder
    Toad, SQL NAVIGATOR
    <H3>2002 à 2005
        MERCURIALE/MERCURIALE DATA</H3>
    [INGENIEUR DEVELOPPEMENT CARTOGRAPHIQUE]
    Travail en interne
    Logiciel d'étude géomarketing, et de gestion de zone de chalandises. ( Analyse et développement)
    Gestion du parc informatique

    VB6, Vba, SQL, MABASIC
    MAPX, CHRONOX
    SGBD : ACCESS, ORACLE
    MAPINFO, CHRONOMAP
    <H3>2001 à 2002
        MAGELLAN-INGÉNIERIE</H3>
    [INGENIEUR INFORMATICIEN]
    Client : IBM
    Logiciel de gestion de la fidélité pour les magasins CHAMPION
    Travail en interne
    Logiciel de calcul d'itinéraire
    Pascal, VB6, Vba, SQL, MABASIC
    MAPX, CHRONOX
    SGBD : DB2
    MAPINFO, CHRONOMAP
    DELPHI, POWERBUILDER



{% endblock %}